In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("stockmarket.csv")

In [3]:
df

          DATE  DDEM01USA156NWDB
0   1996-01-01           89.9315
1   1997-01-01           96.0119
2   1998-01-01          103.6820
3   1999-01-01          135.5630
4   2000-01-01          198.0760
5   2001-01-01          142.1290
6   2002-01-01          135.1970
7   2003-01-01          125.9370
8   2004-01-01          123.9530
9   2005-01-01          153.4220
10  2006-01-01          165.4700
11  2007-01-01          215.4850
12  2008-01-01          292.6150
13  2009-01-01          255.9550
14  2010-01-01          222.2470
15  2011-01-01          246.3160
16  2012-01-01          187.0980
17  2013-01-01          154.7590
18  2014-01-01          152.9650
19  2015-01-01          160.1570
20  2016-01-01          159.8840
21  2017-01-01          133.2690

In [4]:
import datetime as dt
df["DATE"]=pd.to_datetime(df["DATE"])
df["DATE"]=df["DATE"].map(dt.datetime.toordinal)

In [12]:
x=df.iloc[:,0:1]
y=df[["DATE"]]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)
x_train.shape

(17, 1)

In [14]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
x=std.fit_transform(x)

In [15]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred=lr.predict(x_test)
y_pred

array([[735964.],
       [732312.],
       [733773.],
       [733408.],
       [729025.]])

In [17]:
np.round(lr.score(x_test,y_test)*100,2)

100.0